.col {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.addbtn.btn.btn-primary {
    width: 100%;
    transition: trasnform 100ms ease-in-out;
    border: none;
}

.addbtn:hover button.btn.btn-primary{
    background-color: black;
    animation: left-to-right 250ms ease-in forwards ;
}

@keyframes left-to-right{
    0%{
        background-color: #0d6efd;
    }
    
    
    100%{
        background-color:#0a53c1;
    }
}
/*==========================================*/
 .addedCard{
     position: relative;
    transition: transform 50ms ease-in-out infinite;
    /* overflow: hidden; */
}

.fullCard:hover .addedCard{
   animation: change-view 0.5s ease-in-out forwards ; 
   box-shadow: 0 16px 18px -5px hsl(0deg 0% 0%),
   0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);

}

/* @keyframes change-view {

    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.02);

    }
    50%{
        transform: scale(1.04);

    }
    75%{
        transform: scale(1.06);

    }
    100%{
        transform: scale(1.08);
    } */
    

/* } */
/*===================*/

/*===================*/
img.img-fluid {
    width: 100%;
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  
h1 {
    text-align: center;
    margin: 11px 0 50px 0;
}

.g-4.row.row-cols-md-4.row-cols-1 {
    margin: 0 0 30px 0;
}

/* 
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

  .courseCards {
    margin: 0 auto;
    width: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.coursesImg {
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgb(170 170 170 / 50%);
    height: 66px;
    left: 17px;
    padding: 7px;
    position: absolute;
    top: 110px;
}
.addedCard-title.h5 {
    height: 5rem !important;
    margin-top: 0.5rem;
    margin-bottom: 0 !important;
}
.coursesbackgroundimg{
    width: 100%;
    position:fixed ;
    margin: 0 auto;
}
svg {
    width: 12%;
    height: 0%;
    padding-right: 3px;
}
.btn-primary{
    background: #0f90fa !important;
    border-color: white !important;
    transition: transform 0.3s ease;
}
.btn-primary:hover{
    background: #41cffa !important;
    
}

.modal-content {
    padding: 0rem 3rem;
    padding-top: 2rem;
}
.modaltitlecourses{
    padding-top: 16px;
    padding-bottom: 5px;
}
.modalbodycourses{
        line-height: 29px;
        font-size: 21px;
}