label
{
    font-size: 24px;
}
button
{
    text-align:center;
}

.details
{
    border: 1px solid;
    height: 12rem;
    width: 40rem;
}

.payment
{
    border: 1px solid;
    width: 40rem;
}
.address
{
    border: 1px solid;
    width: 40rem;
}
img
{
    width:400px;
}
.full
{
    margin: 0 auto;
    width: 50%;
}